.pdf-board {
  width: 100%;
  height: 100%;
  background-color: #e5e5e5;
}
.pdf-block {
  width: auto;
  height: auto;
}
.pdf-header {
  display: flex;
  justify-content: space-between;
  background: #1a3c5d;
}
.settings-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
  width: 33.3%;
  background-color: white;
}
@media print {
  .end-modal-page-px content {
    font-style: normal;
    font-weight: normal;
    font-size: 10.0221px;
    line-height: 17px;
    color: #3b4857;
  }
  .form-data {
    display: flex;
  }

  .summary-btn-wrapper,
  .summary-title,
  .section-status,
  .section-wrapper button {
    display: none;
  }
  .diagram-wrapper {
    display: flex;
    flex-direction: column;
    border: none;
  }
  .summary-diagram {
    padding: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .score-description-wrapper {
    margin-bottom: 18px;
    border: 0;
  }
  .score-description-wrapper:first-child {
    border: 0;
  }
  .score {
    margin: 0;
    padding: 8px 16px;
    width: 25%;
    background: rgba(240, 245, 255, 1);
    border: 0;
  }
  .score-description {
    margin-left: 10px;
    width: 65%;
    font-size: 10.0221px;
    line-height: 17px;
  }
  .score-number {
    font-size: 16px;
    line-height: 16px;
  }
  .score-title {
    font-size: 8px;
    line-height: 8px;
    color: #8492a5;
  }
  .section-wrapper {
    margin-top: 5px;
  }
  .navbar-section-title {
    margin-bottom: 1.38px;
  }
  .navbar-section-title .section-number {
    font-size: 5.625px;
    line-height: 7px;
  }
  .section-title {
    margin-top: 1.88px;
    margin-bottom: 1.37px;
    font-size: 9.375px;
    line-height: 11px;
  }
  .section-description {
    margin-bottom: 8px;
    font-size: 8px;
    line-height: 12px;
  }
  .score-value {
    font-size: 11.6143px;
    line-height: 13px;
  }
  .score-value .score-title {
    font-size: 9.95516px;
  }
  .summary-logo {
    display: block;
    margin-bottom: 40px;
  }
}
@page {
  size: auto;
  margin: 0;
}
