input:focus {
  outline-offset: 0;
  outline: none;
}

.form-wrapper {
  display: flex;
  flex-direction: row-reverse;
  flex: 1 0 auto;
}

.form-aligner {
  display: flex;
  width: 100%;
  justify-content: center;
}

.form {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-title {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  color: #273443;
  align-self: start;
}

.form-subtitle {
  margin-bottom: 24px;
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #3b4857;
  text-align: left;
}

.form-section {
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.form-section input {
  margin-bottom: 12px;
  padding: 15px 16px;
  width: 400px;
  height: 48px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #3b4857;
  background: #ffffff;
  border: 1px solid #cfd1d7;
  box-sizing: border-box;
  border-radius: 4px;
}

.form-section input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #606367;
}

.submit-form {
  width: 164px;
  height: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #254a9a;
  border: none;
  border-radius: 4px;
}

.submit-form:hover {
  cursor: pointer;
}
