.end-modal-page-content-wrapper {
  margin: 32px 0 0 32px;
}
.end-modal-page-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #3b4857;
}
.end-modal-page-content button {
  border: 1px solid #254a9a;
  box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #254a9a;
  background: #ffffff;
}
.end-modal-page-content button:hover {
  cursor: pointer;
}
.success-message {
  display: flex;
}
.summary-wrapper {
  margin-right: 61px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.summary-title {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  color: #273443;
}
.summary-logo {
  display: none;
  width: 128px;
  height: 34px;
  
}
.summary-logo img{
  width: 100%;
  height: auto;
}
.summary-description {
  width: 80%;
}
.summary-btn-wrapper {
  display: flex;
  flex-direction: row;
}
.summary-btn-wrapper button {
  margin-left: 11px;
  width: 158px;
  height: 40px;
}
.form-data {
  margin-top: 32px;
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.form-data-value{
  margin-bottom: 16px;
  display: flex;
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #3B4857;
}
.form-data-value div{
  width: 239px;
}
.form-data .text{
  margin-right: 24px;
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #000000;
}
.form-data-names {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.form-data-section {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #3b4857;
}
.form-data-names div {
  padding: 10px;
}
.form-data-section div {
  padding: 10px;
}
.diagram-wrapper {
  margin-top: 16px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.summary-diagram {
  padding: 56px 30px 48px 32px;
  border: solid 1px #e0e6ed;
}

.score-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.score-description-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: solid 1px #e0e6ed;
}
.score-description-wrapper:first-child {
  border-top: solid 1px #e0e6ed;
}
.score {
  margin: 22px 9px 25px 25px;
  width: 20%;
}
.score .score-number {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  text-transform: capitalize;
  color: #273443;
}
.score .score-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-transform: capitalize;
  color: #8492a5;
}
.score-description {
  width: 50%;
}
.end-status {
  margin-top: 10px;
  margin-bottom: 50px;
}
.end-status-title {
  font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #273443;
}

.section-wrapper {
  margin: 0 32px 32px 0;
}
.section-title {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.section-status {
  margin-left: 8px;
}
.section-description {
  margin-top: 4px;
  margin-bottom: 16px;
  width: 100%;
}
.end-modal-page-content .section-scores-data {
  display: flex;
  justify-content: flex-start;
}
.end-modal-page-content .section-scores-data .score-value {
  margin-right: 18px;
}
.status-end-modal {
  padding: 4px 17px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border-radius: 4px;
}
.good-status {
  color: #28cd6a;
  background: rgba(40, 205, 106, 0.2);
}
.neutral-status {
  color: #8492a5;
  background: rgba(132, 146, 165, 0.2);
}
.pay-attention-status {
  color: #fec740;
  background: rgba(254, 199, 64, 0.15);
}
