.modal-page-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(39,52,67,0.6);
    overflow: hidden;
    z-index: 1;
}
.modal-page{
    width: 50%;
    min-width: 380px;
    height: 532px;
    padding: 24px;
    background: #FFFFFF;
}
.modal-page .calc-title{
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.modal-page .calc-title div{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #273443;
}
.modal-page .calc-title .close-btn{
    margin: 1px 5px 0px 0px;
    width: 14px;
    height: 14px;
    border: 0;
    background: #FFFFFF url("../../images/clear_24px.svg") no-repeat;
}
.modal-page .calc-title .close-btn:hover{
    cursor: pointer;
}
.modal-page .calc-info{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #8492A5;
}
.modal-page p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #3B4857;
}
.check-box-container{
    display: flex;
}
.check-box-container-wrong{
    display: flex;
    border: 1px solid #dc2525;;
}
.check-box{
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid #8492A5;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
}
.disclaimer{
    margin: 16px 0px;
    padding: 20px 24px;
    background: #F2F5FB;
    border-radius: 4px;
}
.modal-page .disclaimer-title{
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #273443;
}
.disclaimer label{
    margin-top: 24px;
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    color: #273443;
}
.disclaimer input{
    background: #FFFFFF;
    border: 1px solid #8492A5;
    box-sizing: border-box;
    border-radius: 2px;
}
.get-started-btn-wrapper{
    margin-top: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.get-started-btn-wrapper button{
    width: 164px;
    height: 40px;
    background: #254A9A;
    border-radius: 4px;
    border: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.get-started-btn-wrapper button:hover{
    cursor: pointer;
}
