.header {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    margin-bottom: 24px;
    border: 0;
}
.header-section {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    text-transform: uppercase;
    color: #8492A5;
}
.header-title {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #273443;
}
.header-description{
    font-family: Roboto, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}