.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}
.navbar-section-title{
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.navbar-section-title .section-number {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #8492A5;
}
.section-scores-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-section-active {
    width: 100%;
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #273443;
    border: 1px solid #D3DCE6;
}
.white{
    background: #FFFFFF;
}
.red{
    color: #FFFFFF;
    background: #FC4B4E;
}
.orange {
    color: #FFFFFF;
    background: #FD9F28;
}
.orange .section-number, .orange .score-title{
    color: #FFFFFF;
    opacity: 0.8;
}
.green {
    color: #FFFFFF;
    background: #28CD6A;
}
.green .section-number, .green .score-title{
    color: #FFFFFF;
    opacity: 0.8;
}.red .section-number, .red .score-title{
    color: #FFFFFF;
    opacity: 0.8;
}
.footer{
    flex: 0;
}